# Server Configuration
PORT=3000
NODE_ENV=development

# Supabase Configuration
SUPABASE_URL=https://lbehjstzasescyphdwvg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiZWhqc3R6YXNlc2N5cGhkd3ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NDAyMTYsImV4cCI6MjA5MDAxNjIxNn0.0AAUblDmE2jBLu3VyaI-DF0OciFtweWk82guQYoY-zk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiZWhqc3R6YXNlc2N5cGhkd3ZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQ0MDIxNiwiZXhwIjoyMDkwMDE2MjE2fQ.lcJAuILDr-Xgl0VOdyat50Bm45hynB6Id9rMVVeasBE

# Additional Supabase Configuration
PROJECT_URL=https://lbehjstzasescyphdwvg.supabase.co
PUBLISH_KEY=sb_publishable_GjGPSqk91xweuum3-kUUdA_H7o_YmyV
DATABASE_KEY=postgresql://postgres:pgupta41532@1999@db.lbehjstzasescyphdwvg.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres.lbehjstzasescyphdwvg:pgupta41532@1999@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://lbehjstzasescyphdwvg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_GjGPSqk91xweuum3-kUUdA_H7o_YmyV
PROJECT_ID=lbehjstzasescyphdwvg